body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f5f8f5;
}

/* Container principal */
.container {
    display: flex;
    height: 100vh;
}

/* Lado esquerdo - desktop */
.left {
    flex: 1;
    background: linear-gradient(135deg, slategrey, black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilustracao {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Lado direito - formulário */
.right {
    flex: 1;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 100%;
    max-width: 350px;
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #343434;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

input:focus {
    border-color: slategrey;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background:royalblue;
    color: white;
    border-color: slategrey;
    transition: 0.5s;
}

button {
    width: 100%;
    padding: 12px;
    background: #78e08f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #60d687;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

/* Responsivo para celular */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        flex: none;
        height: 100vh;
        background-image: url('images/left-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form-box {
        background: rgba(255,255,255,0.9);
        padding: 30px;
        border-radius: 15px;
    }
}
